PORT=5000
CLIENT_URL=http://localhost:5173
# MongoDB Atlas Connection URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.locfwnc.mongodb.net/chat_app?appName=Cluster0
DB_NAME=chat_app
NODE_ENV=development
